body{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.circle{
    margin: 100px auto ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.line{
    animation: line 3s ease-in-out infinite alternate;
    height: 50px;
}
@keyframes ship{
    from {
        transform: translate(0, 0);
    }
    10%{
    transform: translate(30px, 40px);
    }
    20%{
        transform: translate(60px, -25px);
    }
    30%{
        transform: translate(90px, 45px);
    }
    40%{
        transform: translate(120px, -20px);
    }
    50%{
        transform: translate(150px, 40px);
    }
    60%{
        transform: translate(180px, -10px);
    }
    70%{
        transform: translate(210px, 45px);
    }
    80%{
        transform: translate(240px, -20px);
    }
    90%{
        transform: translate(270px, 40px);
    }
    to{
        transform: translate(300px, 0px);
    }
}
@keyframes line {
    from{
        transform: skew(15deg);
    }
    50%{
        transform: scale(1.5);
    }
    to {
        transform: skew(-15deg);
    }

}
.ship{
    animation: ship 7s ease-in-out infinite alternate;
    height: 200px;
}

