.pink-box{
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 100px auto 0 auto;
    animation: lorem 5s linear 2 alternate;
}
@keyframes lorem {
    from{
transform: translate(-300px,-300px);
    }
    to{
        /*transform: scale(1) rotate(0deg);*/
        background-color: yellow;
    }
}
