body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border-top: 30px solid #9a11a3;
    border-right: 30px solid #0d8527;
    border-bottom: 30px solid #fa3d06;
    border-left: 30px solid #f3f220;
    animation: lorem 6s linear infinite alternate;
}
@keyframes lorem {
    from{
        transform: rotate(360deg);
    }
    to{
 transform: rotate(-360deg) scale(1.5);
    }
}
