*{
    margin:0;
    padding:0;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}
.nav{
    width: 1400px;
    height: 113px;
    flex-shrink: 0;
    background: #24204A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 63px;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
    margin-top: 51px;
    margin-bottom: 43px;
}
.logo{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    margin: 48px 580px 41px 115px;
}
.main-lamp{
    width: 100%;
    height: 579px;
    background: #24204A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.lamp{
    width: 570px;
    height: 366px;
    margin-right: 208px;
}
.one{
    width: 145px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}
.posotion{
    width: 261px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.p-top{
    width: 570px;
    height: 85px;
    flex-shrink: 0;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}
.about{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;
    /* 1 */
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    border: none;
}
.lamp-img{
    width: 375px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-lamp img{
    margin: 48px 28px 45px 29px;
}
.section-cards{
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-cards{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.card div:nth-child(1){
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.card:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.card:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.card:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.card:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.top-cards h4{
    width: 38.098px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.top-cards p{
    width: 101.26px;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.section-cards h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin-top: 50px;
}
.Lorem{
    color: #8E88C1;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.botcard{
    width: 209px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bottom-cards p{
    width: 178px;
    color: #8E88C1;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.botcard div{
    margin-bottom: 26px;
}
iframe{
    width: 100%;
    height: 664px;
    flex-shrink: 0;
    background:lightgray 50%;
}
footer{
    width: 100%;
    height: 94px;
    flex-shrink: 0;
    background: #071341;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{width: 96px;
    height: 24.039px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */}



